.wrapper {
    background-color: #eef2ff;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_text {
    font-size: 16px;
    margin: 5px 15px;
}


/* Media query for screens smaller than 768px */
@media (max-width: 767px) {
    .footer_text {
        font-size: 12px;
    }
}